:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: #f0f0f0;
    --font-primary: 'Golos Text', sans-serif;
    --font-secondary: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo img {
    width: clamp(18.75px, calc(18.05px + 0.19vw), 21.65px);
    height: auto;
}

.welcome-bg {
    background: url('public/bg_image_minified.webp') no-repeat center/cover;
    width: 100%;
    min-height: 700px;
}

.welcome {}

.welcome-content {}

.welcome-title {}

.line--center {}

.line--right {}

.welcome-description {}

.welcome-button {}

.welcome-button--secondary {}